<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>登录</title>
    <style type="text/css">
        body {
            padding-top: 50px;
        }
        .starter-template {
            padding: 40px 15px;
        }
    </style>
    <script type="text/javascript" th:src="@{js/tool/jquery-tool.js}"></script>
    <script type="text/javascript" th:src="@{js/tool/bootstrap-tool.js}"></script>
    <script type="text/javascript" src="js/role/role.js"></script>
</head>
<body>
	<div th:replace="header :: nav"></div>
	<div class="container">
	    <div class="starter-template">
	    	<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">开始演示模态框</button>
	    	<table id="roleData"></table>
	    </div>
	</div>
	
	<div th:replace="role/roleData :: roleData"></div>
</body>
<script th:inline="javascript">
	/*<![CDATA[*/
	
	/*]]>*/
</script>
</html>